﻿@using BitMascot.Enum
@using BitMascot.Models
@{
    var UserSesion = (UserModel)Session["UserModel"];
    if (UserSesion == null)
    {
        Url.Action("Login", "Anonymous");
        new RedirectToRouteResult(new RouteValueDictionary { { "action", "Login" }, { "controller", "Anonymous" } });
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BitMascot | @ViewBag.Title</title>


    @*****************************LOADED CSS***********************************@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/_all-skins.css" rel="stylesheet" />
    <link href="~/Content/iCheck/all.css" rel="stylesheet" />
    <link href="~/Content/morris.css" rel="stylesheet" />
    <link href="~/Content/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/Content/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.min.css" rel="stylesheet" />

    @*FOR DATATABLE*@
    @*<link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />

    @*SweetAlert*@
    <link href="~/Content/sweet-alert.css" rel="stylesheet" />
    @*<link href="~/Content/sweetalert.css" rel="stylesheet" />*@

    @*Custom Layout*@
    <link href="~/Content/CustomCss/customUiDesign.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    @*****************************LOADED CSS***********************************@

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">

            <nav class="navbar navbar-static-top">

                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown profile-username">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @UserSesion.FirstName&nbsp;@UserSesion.LastName
                                <i class="fa fa-angle-down" style="font-size:large;"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="footer"><a href="@Url.Action("Logout", "Anonymous")">Logout</a></li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">

            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>

                    @if (UserSesion.UserType == UserType.User)
                    {
                        <li><a href="@Url.Action("UserProfile", "Home")"><i class="fa fa-circle-o text-aqua"></i> <span>Profile</span></a></li>
                        <li><a href="@Url.Action("ChangePassword", "Home")"><i class="fa fa-circle-o text-aqua"></i> <span>Change Password</span></a></li>
                    }

                    @if (UserSesion.UserType == UserType.Admin)
                    {
                        <li><a href="@Url.Action("UserList", "Home")"><i class="fa fa-circle-o text-aqua"></i> <span>User List</span></a></li>
                    }

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">

            @RenderBody()
        </div>

    </div>
</body>

</html>

@*****************************LOADED SCRIPTS***********************************@

<script>
    var AdminLTEOptions = {
        //Enable sidebar expand on hover effect for sidebar mini
        //This option is forced to true if both the fixed layout and sidebar mini
        //are used together
        //sidebarExpandOnHover: true,
        //BoxRefresh Plugin
        //enableBoxRefresh: true,
        //Bootstrap.js tooltip
        enableBSToppltip: true
    };
</script>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jQueryUI/jquery-ui.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/raphael-min.js"></script>
<script src="~/Scripts/morris/morris.min.js"></script>
<script src="~/Scripts/sparkline/jquery.sparkline.min.js"></script>
<script src="~/Scripts/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Scripts/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="~/Scripts/knob/jquery.knob.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/daterangepicker/daterangepicker.js"></script>
<script src="~/Scripts/datepicker/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="~/Scripts/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/fastclick/fastclick.min.js"></script>
<script src="~/Scripts/app.min.js"></script>
<script src="~/Scripts/dashboard.js"></script>
<script src="~/Scripts/demo.js"></script>
<script src="~/Scripts/select2/select2.full.min.js"></script>
<script src="~/Scripts/input-mask/jquery.inputmask.js"></script>
<script src="~/Scripts/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Scripts/input-mask/jquery.inputmask.extensions.js"></script>
<script src="~/Scripts/iCheck/icheck.min.js"></script>

@*FOR DATATABLE*@
<script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/dataTables.bootstrap.min.js"></script>

@*SweetAlert*@
<script src="~/Scripts/sweet-alert.js"></script>
@*<script src="~/Scripts/sweetalert.js"></script>*@


@* Pace *@
<script src="~/Scripts/pace/pace.min.js"></script>


@*****************************LOADED SCRIPTS***********************************@

@*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
