﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BitMascot | Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/iCheck/square/blue.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page" style="background-color:#112038;">
    <div class="login-box">
        <div class="login-logo">
            @*<a href="../../index2.html"><b>Admin</b>LTE</a>*@
            <img src="~/Images/company-logo.png" />
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Login Panel</p>

            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" id="txtEmail">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" id="txtPassword">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" id="chkRememberMe"> Remember Me
                        </label>
                    </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="" class="btn btn-primary btn-block btn-flat" id="btnSignIn">Sign In</button>
                </div><!-- /.col -->
            </div>

            @*<div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
                </div>*@

            @*<a href="#">I forgot my password</a><br>*@
            <a href="@Url.Action("Register","Anonymous")" class="text-center">Register</a>

        </div>
    </div>
</body>
</html>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/iCheck/icheck.min.js"></script>

<script src="~/Scripts/sweet-alert.js"></script>
<link href="~/Content/sweet-alert.css" rel="stylesheet" />

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

<script>

    $(document).ready(function () {

        $('#btnSignIn').click(function () {

            var loginInfo = {
                "Email": $('#txtEmail').val(),
                "Password": $('#txtPassword').val(),
                "RememberMe": $('#chkRememberMe').is(':checked')
            };

            var controllerUrl = '@Url.Action("UserLogin", "Anonymous")';
            $.ajax({
                url: controllerUrl
                , data: JSON.stringify({ LoginInfo: loginInfo })
                , dataType: "json"
                , type: 'POST'
                , contentType: 'application/json; charset=utf-8'
                , success: function (data) {
                    if (data == 1) {
                        window.location.href = "@Url.Action("Index","Home")";
                    }
                    else {
                        swal('Invalid email address.', '', 'error');
                    }
                }
                , error: function (data) {
                    swal('Invalid Email or Password', '', 'error');
                }
            });

        });

    });

</script>

@**@