﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BitMascot | Register</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/iCheck/square/blue.css" rel="stylesheet" />
</head>
<body class="hold-transition register-page" style="background-color:#112038;">
    <div class="register-box">
        <div class="register-logo">
            <img src="~/Images/company-logo.png" />
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Registration Panel</p>

            <form id="frmRegister" method=""></form>

            @*First Name*@
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="First Name" name="FirstName" id="txtFirstName">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>

            @*Last Name*@
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Last Name" name="LastName" id="txtLastName">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>

            @*Address*@
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Address" name="Address" id="txtAddress">
                <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
            </div>

            @*Phone*@
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Phone" name="Phone" id="txtPhone">
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>

            @*Email*@
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" name="Email" id="txtEmail">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            @*DOB*@
            <div class="form-group has-feedback">
                <input type="text" class="form-control datepicker" placeholder="DOB" name="DOB" id="txtDOB">
                <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
            </div>

            @*Password*@
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name="Password" id="txtPassword">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <p>- OR - <br />Just <a href="@Url.Action("Login","Anonymous")" class="text-center">Login</a> instead.</p>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-block btn-flat" id="btnRegister">Register</button>
                </div><!-- /.col -->
            </div>

            @*<div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using Facebook</a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using Google+</a>
                </div>*@



        </div>
    </div>

</body>
</html>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/iCheck/icheck.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link href="~/Content/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Scripts/datepicker/bootstrap-datepicker.js"></script>

<script src="~/Scripts/sweet-alert.js"></script>
<link href="~/Content/sweet-alert.css" rel="stylesheet" />

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        //Date picker
        $('.datepicker').datepicker({
            //Closes after date is picked
            autoclose: true
            //, format: 'dd/mm/yy'
        });
        //Setting today's date as default date
        $('.datepicker').datepicker('setDate', 'now');

        //$("#frmRegister").validate({
        //    rules: {
        //        FirstName: "required",
        //        LastName: "required",
        //        Password: {
        //            required: true,
        //            minlength: 5
        //        },
        //        Email: {
        //            required: true,
        //            email: true
        //        },
        //        Phone: {
        //            required: true
        //        },
        //        Address: {
        //            required: true
        //        },
        //        DOB: {
        //            required: true
        //        }
        //    },
        //    messages: {
        //        FirstName: "Please enter your firstname",
        //        LastName: "Please enter your firstname",
        //        //password: {
        //        //    required: "Please provide a password",
        //        //    minlength: "Your password must be at least 5 characters long"
        //        //},
        //        Password: "Please enter a strong password",
        //        Email: "Please enter a valid email address",
        //        Phone: "Please your phone number",
        //        Address: "Please your address",
        //        DOB: "Please select your Date of Birth"

        //    }
        //});
    });
</script>

<script>

    $(document).ready(function () {

        $('#btnRegister').click(function () {

            if ($('#txtEmail').val() == '' || $('#txtPassword').val() == '') {
                swal('Email & Password is required !!', 'Stop', 'warning');
                return;
            }

            var user = {
                "FirstName":$('#txtFirstName').val(),
                "LastName":$('#txtLastName').val(),
                "Address":$('#txtAddress').val(),
                "PhoneNo":$('#txtPhone').val(),
                "Email":$('#txtEmail').val(),
                "DOB":$('#txtDOB').val(),
                "Password": $('#txtPassword').val()
            };
            
            var controllerUrl = '@Url.Action("RegisterNewUser", "Anonymous")';
            $.ajax({
                url: controllerUrl
                , data: JSON.stringify({ NewUser: user })
                , dataType: "json"
                , type: 'POST'
                , contentType: 'application/json; charset=utf-8'
                , success: function (data) {
                    if (data == 1) {
                        swal('Successful registration.', "Please log in to the system", "success");
                        window.location.href = "@Url.Action("Login","Anonymous")";
                    }
                    else if (data == 2) {
                        swal('Email address already exists !!', '', 'warning');
                    }
                    else {
                        swal('Error while saving data.', '','');
                    }
                }
                , error: function (data) {
                    swal(data);
                }
            });

        });

    });

</script>