﻿@using BitMascot.Models
@{
    ViewBag.Title = "Change Password";
}

@{ 
    var SessionUser = (UserModel)Session["UserModel"];
}

<section class="content">

    <h1 align="center" class="navy text-bold" style="font-family:Calibri;"><b>Change Password</b></h1>

    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">

                    <div class="form-horizontal">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-2">Current Password</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="password" placeholder="Current Password" id="txtCurrentPassword">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>

                    </div>

                    <div class="form-horizontal">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-2">New Password</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="password" placeholder="New Password" id="txtNewPassword">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>

                    </div>

                    <div class="form-horizontal">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-2">Confirm Password</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="password" placeholder="Confirm Password" id="txtConfirmPassword">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>

                    </div>

                    <div class="form-horizontal">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button class="btn btn-success" id="txtResetPassword">Reset Pasword</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.box-body -->
                <!-- /.box -->
            </div>
        </div>

    </div>

</section>

<script src="~/Scripts/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#txtResetPassword').click(function(){

            var currentPass = $('#txtCurrentPassword').val();
            var newPass = $('#txtNewPassword').val();
            var confirmPass = $('#txtConfirmPassword').val();

            if (newPass !== confirmPass) {
                swal('New & Confirm Password do not match.', '', 'error');
                return;
            }

            var UserPassInfo = {
                "UserID" : @SessionUser.UserID,
                "Password": currentPass,
                "NewPassword" : newPass
            };

            var controllerUrl = '@Url.Action("ChangeUserPassword", "Home")';
            $.ajax({
                url: controllerUrl
                , data: JSON.stringify({ ChangeUserPassword : UserPassInfo })
                , dataType: "json"
                , type: 'POST'
                , contentType: 'application/json; charset=utf-8'
                , success: function (data) {
                    if (data == 1) {
                        window.location.href = "@Url.Action("Logout", "Anonymous")";
                    }
                    else {
                        swal('Unable to Login', '', 'error');
                    }
                }
                , error: function (data) {
                    console.log(data);
                }
            });

        });

    });

</script>
