﻿
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>
    <h1>HELLO</h1>*@

<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<section class="content-header">
    <h1>
        Dashboard
        @*<small>Control panel</small>*@
    </h1>    
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hover Data Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        //alert('HI');

        @*var url = "@Url.Action("DashboardInformation", "Home")";//here

        $.ajax({
            url: url,
            dataType: "json",
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log(data);
                var parsedData = jQuery.parseJSON(data);
                console.log(parsedData);
                //alert('TotalISF = ' + parsedData[0].TotalISF);
                $('#totalPC').text(parsedData[0].TotalPC);
                $('#totalSC').text(parsedData[0].TotalSC);
                $('#totalSI').text(parsedData[0].TotalSI);
                $('#totalISF').text(parsedData[0].TotalISF);
            },
            error: function (data) {
                swal('Error Function >> ' + data);
            }
        });*@
    });

</script>