﻿@using BitMascot.Models

@{
    ViewBag.Title = "UserProfile";
}

@{
    var SessionUser = (UserModel)Session["UserModel"];
}

<section class="content">

    <h1 align="center" class="navy text-bold" style="font-family:Calibri;"><b>User Profile</b></h1>

    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">

                    <div class="form-horizontal">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-2">First Name</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text"disabled id="txtFirstName">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>

                    </div>

                    <div class="form-horizontal">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-2">Last Name</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" disabled id="txtLastName">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>

                    </div>

                    <div class="form-horizontal">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-2">Address</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" disabled id="txtAddress">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>

                    </div>

                    <div class="form-horizontal">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-2">Phone</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" disabled id="txtPhone">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>

                    </div>

                    <div class="form-horizontal">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-2">Email</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" disabled id="txtEmail">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>

                    </div>

                    <div class="form-horizontal">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <label class="col-sm-2">Date of Birth (dd/MM/yyyy)</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" disabled id="txtDOB">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.box-body -->
                <!-- /.box -->
            </div>
        </div>

    </div>

</section>

<script src="~/Scripts/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        loadUserInfo();

        function loadUserInfo() {
            var id = @SessionUser.UserID;

            var controllerUrl = '@Url.Action("GetUserByID", "Home")';
            $.ajax({
                url: controllerUrl
                , data: JSON.stringify({ UserID : id })
                , dataType: "json"
                , type: 'POST'
                , contentType: 'application/json; charset=utf-8'
                , success: function (data) {
                    console.log(data);
                    $('#txtFirstName').val(data.FirstName);
                    $('#txtLastName').val(data.LastName);
                    $('#txtAddress').val(data.Address);
                    $('#txtPhone').val(data.PhoneNo);
                    $('#txtEmail').val(data.Email);
                    $('#txtDOB').val(formatDate(data.DOB));
                }
                , error: function (data) {
                    swal('Unable to fetch information', '', 'error');
                }
            });
        }        

        function formatDate(dateData) {

            var currentDate = new Date(parseInt(dateData.substr(6, 29)));

            var month = currentDate.getMonth() + 1;
            var day = currentDate.getDate();
            var year = currentDate.getFullYear();
            var date = day + "/" + month + "/" + year;

            return date;
        }

    });

</script>
