﻿
@{
    ViewBag.Title = "User List";
}

<section class="content">

    <h1 align="center" class="navy text-bold" style="font-family:Calibri;"><b>User List</b></h1>

    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">

                    <div class="box-body table-responsive">
                        <table id="tblUserList" class="table table-hover myclass table">
                            <thead>
                                <tr>
                                    <th >Sl. No.</th>
                                    <th >First Name</th>
                                    <th >Last Name</th>
                                    <th >Address</th>
                                    <th >Phone No</th>
                                    <th>Email</th>
                                    <th>DOB (dd/MM/yyyy)</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr>
                                    <td>0</td>
                                    <td>P-0000</td>
                                    <td>23-3-2018</td>
                                    <td>Adfghf</td>
                                    <td>1</td>
                                    <td>22</td>
                                    <td>22/3/1889</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>

    </div>

</section>

<script src="~/Scripts/jquery.min.js"></script>

<script type="text/javascript">

    $(function () {
        $("#tblPurchaseContract").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
    });

    $(document).ready(function () {
        loadUserList();

        function loadUserList() {
            
            var url = '@Url.Action("GetUserList", "Home")';

            $.getJSON(url, function (data) {
                console.log(data);

                $("#tblUserList" + ' tbody' + ' tr').remove();
                $("#tblUserList").dataTable().fnDestroy();
                $('#tblUserList').dataTable({
                    "aaData": data,
                    "aoColumns": [
                        { "mDataProp": null, "bSearchable": false, "bSortable": false },
                        { "mDataProp": "FirstName", "bSearchable": true, "bSortable": false },
                        { "mDataProp": "LastName", "bSearchable": true, "bSortable": false },
                        { "mDataProp": "Address", "bSearchable": false, "bSortable": false },
                        { "mDataProp": "PhoneNo", "bSearchable": false, "bSortable": false },
                        { "mDataProp": "Email", "bSearchable": true, "bSortable": false },
                        { "mDataProp": "DOB", "bSearchable": false, "bSortable": false }
                    ],
                    "fnCreatedRow": function (nRow, aData, iDataIndex) {
                        $('td:eq(0)', nRow).html(parseInt(iDataIndex + 1));
                        $('td:eq(1)', nRow).html(aData.FirstName);
                        $('td:eq(2)', nRow).html(aData.LastName);
                        $('td:eq(3)', nRow).html(aData.Address);
                        $('td:eq(4)', nRow).html(aData.PhoneNo);
                        $('td:eq(5)', nRow).html(aData.Email);
                        $('td:eq(6)', nRow).html(formatDate(aData.DOB));

                    }
                });

            })
        }

        function formatDate(dateData) {

            var currentDate = new Date(parseInt(dateData.substr(6, 29)));

            var month = currentDate.getMonth() + 1;
            var day = currentDate.getDate();
            var year = currentDate.getFullYear();
            var date = day + "/" + month + "/" + year;

            return date;
        }

    });

</script>