﻿.genereatePdfButton {
    font-size: 20px !important;
    font-size: 20px;
    color: darkblue;
    cursor: pointer;
}

.deleteButton {
    font-size: 20px !important;
    color: red;
    cursor: pointer;
}

.editButton {
    font-size: 20px !important;
    font-size: 20px;
    color: green;
}


.bankIcon {
    cursor: pointer;
}

.loadingWait {
    width: 69px;
    height: 89px;
    border: 1px solid black;
    position: absolute !important;
    top: 50%;
    left: 50%;
    padding: 2px;
    color: red;
}

.detailsButton {
    font-size: 20px !important;
    color: royalblue;
    cursor: pointer;
}

.fa_custom {
    color: #0099CC;
}

.selectButton {
    font-size: 20px !important;
    color: /*#bc5090;*/ #ff6361;
    cursor: pointer;
}

.saveButton{
    font-size: 50px !important;
    color: orangered;
    cursor: pointer;
}

.searchButton{
    font-size: 30px !important;
    color: #05518e;
    cursor: pointer;
}
